@model TrentoMeteoApp.ViewModels.MeteoIndexViewModel

@{
    Layout = null;
}

<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titolo pagina -->
    <title>Meteo Trento</title>

    <!-- Collegamento file di Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Stile personalizzato -->
    <style>
        body {
            background-color: #2C3E50;
            color: #ECF0F1;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
        }

        h1, h2, h3 {
            color: #3498DB;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 1.5em;
            color: white;
        }

        form {
            margin-bottom: 30px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            color: white;
        }

        button {
            background-color: #E74C3C;
            color: #ECF0F1;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

            button:hover {
                background-color: #C0392B;
            }
        /*Stili per la card delle informazioni meteo*/
        .card {
            background-color: #3498DB;
            color: #ECF0F1;
            border-radius: 10px;
            margin-bottom: 20px;
            overflow: hidden;
        }
        /*Stili per l'intestazione della card*/
        .card-header {
            background-color: #2980B9;
            padding: 20px;
            text-align: center;
        }

        .card-body {
            padding: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        p {
            margin-bottom: 15px;
        }

        .row-cols-1 .col,
        .row-cols-sm-2 .col,
        .row-cols-md-3 .col,
        .row-cols-lg-4 .col {
            padding: 0 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Meteo Trento</h1>
        <h2 class="text-center">Bollettino Meteorologico</h2>

        <!--Form ricerca giorno meteo-->
        <form action="/meteo?day=" method="get">
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="day">
                <div class="input-group-append">
                    <button class="btn" type="submit" style="background-color: #E74C3C;">Cerca</button>
                </div>
            </div>
        </form>

        <div id="meteo-container">
            @foreach (var giorno in Model.giorni)
            {
                <div class="card">
                    <div class="card-header">
                        <h3>@giorno.giorno</h3>
                    </div>
                    <div class="card-body">
                        <img src="@giorno.icona" alt="@giorno.descIcona">
                        <p><b>Temperature min/max:</b> @giorno.tMinGiorno°C / @giorno.tMaxGiorno°C</p>
                        <p>@giorno.testoGiorno</p>

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                            @foreach (var fascia in giorno.fasce)
                            {
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">@fascia.fasciaPer (ore @fascia.fasciaOre)</h5>
                                        </div>
                                        <div class="card-body">
                                            <img src="@fascia.icona" alt="@fascia.descIcona">
                                            <p>@fascia.descIcona</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

</html>
